<launch>                                                                                             
    <arg name="file_path" default="/home/amsl/bag_data/semantic_kitti_bag_file/" />
    <arg name="file_name" default="semantickitti_sequence00" />
    <node name="bag_data" pkg="rosbag" type="play" args="-l $(arg file_path)$(arg file_name).bag">   
    </node>

    <!-- Launch ROS Node for net handler with all the desired parameters-->
    <node pkg="semantic_mesh_localization" type="bonnet_node" name="bonnet_node" output="screen">
        <!-- Topics -->
        <rosparam command="load" file="$(find semantic_mesh_localization)/config/topic_cfg.yaml" />
        <!-- CNN stuff -->
        <rosparam command="load" file="$(find semantic_mesh_localization)/config/cnn_cfg.yaml" />
    </node>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find semantic_mesh_localization)/config/test_image_segmentation.rviz" />

</launch>                          
